* {
  font-family: "Roboto", serif;  
}

img {
  width: 100%;
}

.links {
  margin-right: 10px;
  text-decoration: none;
  color: rgba(191, 85, 236, 1);
}

.links:hover {
  text-decoration: none;
  color: rgba(102, 51, 153, 1);
}

#all-products, #basses, #pianos, #detail {
  background-color:rgba(220, 198, 224, 0.5);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.title-section {
  margin-bottom: 30px;
}

/* NavigationBar */

#logo {
  width: 46px;
}

/* Product */

.product {
  display: flex;
  justify-content: center;
}

.product-card {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  margin-bottom: 20px;
}

.product-category {
  font-size: 13px;
  margin-bottom: 10px;
  color: grey;
}

.product-name {
  font-size: 16px;
  text-transform: uppercase;
}

.product-price{
  font-size: 14px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .product-card {
    width: 290px;
  }
}

.detail-image img {
  border-radius: 2px;
}

.detail-image {
  display: flex;
  justify-content: center;
}

@media (min-width: 425px) {
  .detail-image img {
    width: 395px;
  }
}

@media (min-width: 768px) {
  .detail-image img {
    width: 100%;
  }
}

